<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sise.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.sise.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gradeListServlet</servlet-name>
    <servlet-class>com.sise.web.GradeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gradeListServlet</servlet-name>
    <url-pattern>/gradeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gradeDeleteServlet</servlet-name>
    <servlet-class>com.sise.web.GradeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gradeDeleteServlet</servlet-name>
    <url-pattern>/gradeDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gradeSaveServlet</servlet-name>
    <servlet-class>com.sise.web.GradeSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gradeSaveServlet</servlet-name>
    <url-pattern>/gradeSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentListServlet</servlet-name>
    <servlet-class>com.sise.web.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentListServlet</servlet-name>
    <url-pattern>/studentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gradeComboListServlet</servlet-name>
    <servlet-class>com.sise.web.GradeComboListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gradeComboListServlet</servlet-name>
    <url-pattern>/gradeComboList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentDeleteServlet</servlet-name>
    <servlet-class>com.sise.web.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentDeleteServlet</servlet-name>
    <url-pattern>/studentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentSaveServlet</servlet-name>
    <servlet-class>com.sise.web.StudentSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentSaveServlet</servlet-name>
    <url-pattern>/studentSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>familyListServlet</servlet-name>
    <servlet-class>com.sise.web.FamilyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>familyListServlet</servlet-name>
    <url-pattern>/familyList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>familyDeleteServlet</servlet-name>
    <servlet-class>com.sise.web.FamilyDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>familyDeleteServlet</servlet-name>
    <url-pattern>/familyDelete</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>familySaveServlet</servlet-name>
    <servlet-class>com.sise.web.FamilySaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>familySaveServlet</servlet-name>
    <url-pattern>/familySave</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>corporationListServlet</servlet-name>
    <servlet-class>com.sise.web.CorporationListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>corporationListServlet</servlet-name>
    <url-pattern>/corporationList</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>corporationDeleteServlet</servlet-name>
    <servlet-class>com.sise.web.CorporationDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>corporationDeleteServlet</servlet-name>
    <url-pattern>/corporationDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>corporationSaveServlet</servlet-name>
    <servlet-class>com.sise.web.CorporationSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>corporationSaveServlet</servlet-name>
    <url-pattern>/corporationSave</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>courseListServlet</servlet-name>
    <servlet-class>com.sise.web.CourseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseListServlet</servlet-name>
    <url-pattern>/courseList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>courseDeleteServlet</servlet-name>
    <servlet-class>com.sise.web.CourseDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseDeleteServlet</servlet-name>
    <url-pattern>/courseDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>courseSaveServlet</servlet-name>
    <servlet-class>com.sise.web.CourseSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseSaveServlet</servlet-name>
    <url-pattern>/courseSave</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>rapListServlet</servlet-name>
    <servlet-class>com.sise.web.RapListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rapListServlet</servlet-name>
    <url-pattern>/rapList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>rapDeleteServlet</servlet-name>
    <servlet-class>com.sise.web.RapDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rapDeleteServlet</servlet-name>
    <url-pattern>/rapDelete</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>rapSaveServlet</servlet-name>
    <servlet-class>com.sise.web.RapSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rapSaveServlet</servlet-name>
    <url-pattern>/rapSave</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>checkListServlet</servlet-name>
    <servlet-class>com.sise.web.CheckListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkListServlet</servlet-name>
    <url-pattern>/checkList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>checkDeleteServlet</servlet-name>
    <servlet-class>com.sise.web.CheckDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkDeleteServlet</servlet-name>
    <url-pattern>/checkDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>checkSaveServlet</servlet-name>
    <servlet-class>com.sise.web.CheckSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkSaveServlet</servlet-name>
    <url-pattern>/checkSave</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>homeListServlet</servlet-name>
    <servlet-class>com.sise.web.HomeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeListServlet</servlet-name>
    <url-pattern>/homeList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>homeDeleteServlet</servlet-name>
    <servlet-class>com.sise.web.HomeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeDeleteServlet</servlet-name>
    <url-pattern>/homeDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>homeSaveServlet</servlet-name>
    <servlet-class>com.sise.web.HomeSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeSaveServlet</servlet-name>
    <url-pattern>/homeSave</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>studyListServlet</servlet-name>
    <servlet-class>com.sise.web.StudyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studyListServlet</servlet-name>
    <url-pattern>/studyList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>studyDeleteServlet</servlet-name>
    <servlet-class>com.sise.web.StudyDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studyDeleteServlet</servlet-name>
    <url-pattern>/studyDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>studySaveServlet</servlet-name>
    <servlet-class>com.sise.web.StudySaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studySaveServlet</servlet-name>
    <url-pattern>/studySave</url-pattern>
  </servlet-mapping>
</web-app>